* {
  box-sizing: border-box;
  margin: 0;
}

#calculator {
  height: 400px;
  width: 450px;
  background-color: #E8AAA3;
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

#delete {
  height: 60px;
  width: 80px;
  background-color: #FFF1EA;
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  padding: 10px;
  font-size: 2em;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  transition: background-color 1s;
}

#screen {
  height: 60px;
  width: 270px;
  background-color: #FF98B1;
  position: absolute;
  margin-left: 130px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  font-size: 1.5em;
}

.keys {
  overflow: hidden;
  padding: 30px;
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;
}

.keys input {
  width: 70px;
  height: 60px;
  background-color: #FFF1EA;
  position: relative;
  line-height: 50px;
  float: left;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  margin: 5px 20px 5px 0;
  transition: background-color 1s;
  font-size: 2em;
}

.keys .operator, .keys .equal {
  background-color: #E3E5FF;
}

.keys input:hover {
  background-color: #D185E8;
}

#delete:hover {
   background-color: #D185E8;
}






